@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: all 0.5s;
}
body {
    font-family: 'Poppins', sans-serif;
}
.another-element {
    font-family: 'Nunito', sans-serif;
}
/* ------------- Valores Iniciales ------------- */
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
    }

:root {
    /* --- FONT SIZES --- */
    --largest-font: 112px;
    --larger-font: 70px;
    --large-font: 34px;
    --text-large-font: 20px ;
    --text-font: 16px;
    /* --- COLOURS --- */
    --text-color: #000 ;
    --hover-color: #049395;
    --dark-color: #010050;
    --bg-color: #eaf5a5;
    --bg-color-header: #eaf5a5d3;
    --header-change-color: #e8eba6d7;
}
/* ----------------- PRELOADER ----------------- */

/* ----------------- SCROLL TO TOP BUTTON ----------------- */

/* ----------------- SCROLLBAR ----------------- */
        
/* ----------------- MAIN HEADER ----------------- */
.home {
    background: #eaf5a5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}
nav {
    align-items: center;
    background: #eaf5a5;
    display: flex;
    justify-content: right;
    padding-right: 120px;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.nav-logo {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 40px;
    position: absolute;
    text-align: center;
    top: 0;
}
.nav-logo i {
    font-size: 1.5em;
    /* margin: 1em; */
}
.nav-logo h2 {
    color: #010050;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 20px;
    left: 20px;
    margin: 20px;
    /* margin-right: 10px; */
    padding: 0px;
    position: absolute;
    top: 0;
}


.nav-menu {
    transition: all 0.5s;
}
.nav-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    transition: all 0.5s;
}
.nav-menu ul li {
    color: #010050;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 1em 1.5em;
    transition: all 0.5s;
}
.nav-menu ul li a {
    color: #010050;
    text-decoration: none;
    transition: all 0.5s;
}
.nav-menu ul li a:hover {
    color: #049395
}
#banner {
    display: none;
    transition: all 0.5s;
}
.nav-close {
    display: none;
    transition: all 0.5s;
    visibility: hidden;
}
.nav-toggle {
    display: none;
    /* visibility: hidden; */
    transition: all 0.5s;
}
nav i {
    font-size: 1.5em;
}


@media screen and (max-width: 880px) {
    nav {
        background: #eaf5a5;
        height: 80px;
        justify-content: center;
        padding-right: 0;
        transition: all 0.5s;
        width: 100%;
    }
    .nav-menu {
        align-items: center;
        background:  #eaf5a5;
        box-shadow: 0 2px 10px #e8eba6d7, 0 8px 20px #e8eba6d7 ;
        display: none;
        justify-content: center;
        width: 100%;
        z-index: 1000;
    }
    .nav-menu ul {
        display: flex;
        flex-direction: column;
        transition: all 0.5s;
    }
    .nav-menu ul li {
        align-items: center;
        justify-content: center;
        transition: all 0.5s;
    }
    .nav-menu ul li:nth-child(1) {
        padding-top: 40px;
    }
    .nav-menu ul li a {
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: all 0.5s;
    }
    .nav-menu ul li a.pages {
        margin: 0;
    }
    #banner {
        display: flex;
        position: absolute;
        top: 0;
    }
    .nav-close {
        cursor: pointer;
        display: block;
        font-size: 1.5em;
        position: absolute;
        right: 32px;
        top: 18px;
        transition: all 0.5s;
        visibility: visible;
    }
    .nav-toggle {
        cursor: pointer;
        display: inline-flex;
        margin: 1.6em;
        position: absolute;
        right: 20px;
        top: 0;
        transition: all 0.5s;
        visibility: visible;
    }
}

/* HEADER */
.header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}
.header .content {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    transform: translate(-5px, -40px);
}
h2 {
    color: #010050;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding: 100px 5px 5px 5px;
    position: relative;
    text-align: center;
}
#title {
    color: #010050;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin: 0;
    padding: 0;
}
#title span {
    color: #a939d6;
}
p {
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 14px ;
    margin: 0.2em;
    position: relative;
    text-align: center;
}
.header p {
    text-align: left;
}
.header img {
    height: 340px;
    padding: 40px;
    position: relative;
}
button {
    align-items: center;
    background: #7828a4;
    border-radius: 25px;
    border: none;
    color: #fff;
    cursor: pointer; 
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    justify-content: center;
    margin: 20px 0 10px 5px;
    outline: none;
    overflow: hidden;
    padding: 10px 15px;
    transition: all 0.5s ease-in-out;
    width: 142px;
    z-index: 2;
}
button:hover {
    background: #9f35d8;
}
button i {
    padding-left: 4px;
}

.change-header {
    background: #eaf5a5;
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 10px #e8eba6d7
    0 8px 20px #e8eba6d7;
}
          
/* ----------------- ABOUT ----------------- */
.about {
    align-items: center;
    background-color: #eaf5a5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
}

.about h2 {
    margin: 0.4em;
}
.about .content {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.about .content p {
    text-align: left;
    display: flex;
    flex-direction: column;
}
.about .content p span {
    font-weight: 600;
}
.about img {
    width: 15em;
    margin: 1.3em 2em;
}
/* ----------------- SERVICES ----------------- */
.services {
    align-items: center;
    background: #eaf5a5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
}          
.services p {
    padding: 10px;
} 
.swiper {
    align-items: center;
    display: flex;
    height: 385px;
    justify-content: center;
    margin: 10px;
    width: 750px;
}
.swiper .swiper-slide {
    background: #cebaf2;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #e8eba6d7;
    height: 350px;
    position: relative;
    width: 250px;
}
.swiper-slide::before {
    background: radial-gradient(50% 100%, #a8b2eb, #9ec9e8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    clip-path: circle(65% at 50% 0%);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    transition: all 0.5s;
    width: 100%;
    z-index: 66;
}
.swiper-slide:hover::before {
    clip-path: circle(68% at 50% 0%);
}
.swiper-slide i {
    cursor: pointer;
    font-size: 20px;
    margin: 12px;
    position: absolute;
    transform: translate(70px, 10px);
    z-index: 99;
}
.swiper-slide h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #000;
    transform: translateY(150px);
    z-index: 90;
}
.swiper-slide img {
    position: relative;
    width: 150px;
    z-index: 100;
    transform: translateY(-100px);
    transition: all 0.5s;
}
.swiper-slide:hover img {
    scale: 1.1;
}

.swiper-slide img[src="img/communicating.svg"] {
    transform: translateY(-120px);
}
.swiper-pagination .swiper-pagination-bullet {
    background: #000;
    opacity: 0.4;
}

.swiper-pagination .swiper-pagination-bullet-active{
background: #010050;
opacity: 1;
}
/* ----------------- NEWSLETTER ----------------- */

/* ----------------- FOOTER ----------------- */
            
/* ----------------- SLIDE IN WHEN IN VIEW ----------------- */
            
/* For Slide In from left */
/* For Slide In from top */

/* ----------------- BREAKPOINTS/SCREEN ADAPT ----------------- */